* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}


/*----------  Navegacion  ----------*/


header{
    background-color: red;
    display: flex;
}

header nav ul{
    display: flex;

    justify-content: space-between;
}

li {
    list-style: none;
}



/*----------  Contenedor Principal  ----------*/

main {
    display: flex;
    flex-wrap: wrap;
}



/*----------  Multimedia  ----------*/

#multimedia {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}

#multimedia audio {
    width: 50%;
}

#multimedia video {
    width: 50%;
}

/*----------  Formulario  ----------*/

#formulario {
    width: 70%;
    background-color: blue;
    padding: 5%;
}

#formulario > form {
    width: 100%;
    background-color: violet;
    display: flex;
    flex-wrap: wrap;
}

/*----------  Aside  ----------*/

aside {
    width: 30%;
    background-color: springgreen;
}

aside > img {
    width: 100%;
    background-color: springgreen;
}


/*----------  Footer  ----------*/

footer {
    background-color: red;;
    text-align: center;
    padding: 2.5%;
    
}
